# ignore venv
venv
#ignore sam folder
sam
#ignore GroundingDINO
GroundingDINO
#Ignore Data
data
#Ignore Images Directory
dataset
#ignore Images directory
images 
#Ignore Examples
examples 
#ignore .vscode
.vscode 

# Ignore everything in the starter_dataset directory
starter_dataset/*

!starter_dataset/.gitkeep 

