*.cache
# ignore venv
venv
#ignore sam folder
sam
#ignore GroundingDINO
GroundingDINO
#Ignore Data
data
#Ignore Images Directory
dataset/test/images/*
dataset/test/labels/*
dataset/train/images/*
dataset/train/labels/*
dataset/val/images/*
dataset/val/labels/*

#ignore Images directory
images 
#Ignore Examples
examples 
#ignore .vscode
.vscode 

# Ignore everything in the starter_dataset directory
!starter_dataset/.gitkeep 
starter_dataset/*




